body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/RSVPopp.png);
}

body {
    background-color: black;
}

.topthird {    
    background-image: url(../img/topt.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topthird img {
    padding-top: 21%;
    padding-bottom: 21%;
    padding-left: 18%;
    padding-right: 18%;
}

.midthird {
    background-image: url(../img/middlet.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midthird img {
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 0%;
    padding-right: 0%;
}


.lowerthird {
    background-image: url(../img/lowert.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerthird a {
    padding-top: 19%;
    padding-bottom: 19%;
    padding-left: 23%;
    padding-right: 23%;
}

#rsvp {
    width: 85px;
    height: 75px;
    background-image: url(../img/RSVP.png);
    background-size: 100%;    
    transition: all ease-in-out 500ms;
}

#rsvp:active {
    background-image: url(../img/RSVPopp.png);
}


#rsvp:hover {
    background-image: url(../img/RSVPopp.png);
}

